<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Todo App</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="mainBox">
        <h1>Vue Todo App</h1>
        <div class="inputContainer">
          <input type="text" v-model="enteredTodoValue" class="inputBox" />
          <button @click="addTodo" class="addButton">Add Todo</button>
        </div>
        <p v-if="todos.length === 0">There are no todos yet.</p>
        <div class="todoBox">
          <div
            class="todoItem"
            v-for="(todo, idx) in todos"
            :key="todo"
            @click="removeTodo(idx)"
          >
            {{ todo }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
